@using MyEvernote.EntitiesLayer

@model MyEvernote.EntitiesLayer.CheckModels.UserRegister

@{
    ViewBag.Title = "ChangePassword";
}

@{
    User userIdResult = null;
    if (ViewBag.TurnedUser != null)
    {
        userIdResult = ViewBag.TurnedUser as User;
    }
}

<div class="col-12 mt-4">
    <h2>Yeni Sifrenizi Daxil Edin</h2>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="number" style="display: none;" id="currentHiddenId" name="userID" value="@userIdResult.Id" />
        <div class="form-horizontal">
            <h4 class="mb-2">Xos Geldiniz @(string.IsNullOrEmpty(userIdResult.Name)? userIdResult.Username: userIdResult.Name)</h4>
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-outline-success">
                        <i class="fas fa-paper-plane-o"></i> Gonder
                    </button>
                </div>
            </div>
        </div>
    }

</div>
